header {
    text-align: center;
    font-size: 650%;
    color: purple;
    border-style: double;
    border-color: black;
    background-color: lavender;
    border-width: medium;
    margin: 25px;
    padding: .5%;
}

body {
	background-color: lavenderblush;
    margin: auto;
    text-align: center;
    border-color: darkblue;
    border-style: solid;
    margin:auto;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

table{
    border: 10px solid black;
    text-align: center;
    margin: auto;
    list-style-position: inside;
}

th{
    border: 2px solid black;
    align-content: center;
    border-collapse: collapse;
}

td {
    
    align-content: center;
    text-align: left;
    font-family: monospace;
    border-bottom: 1px solid black;
}

td[input] {
    vertical-align: middle;
    
}
input[type=text]{
    width: 15%;
    padding: .5% 1%;
    margin: 3px 0;
    box-sizing: content-box;
    justify-content: center;
}

input[type=submit] {
    width: 35%;
    background-color: teal;
    color: ghostwhite;
    padding: 1% 2%;
    margin: 1% 0;
    border: groove;
    border-radius: 15%;
}
input[type=submit]:hover {
    background-color: limegreen;
}
input[type=reset]{
    width: 10%;
    background-color: maroon;
    color: ghostwhite;
    padding: 1% 2%;
    margin: 1% 0;
    border: dotted;
    border-color: black;
    border-radius: 15%;
}
input[type=reset]:hover {
    background-color: darkred;
}
h1{
    background-color: limegreen;
    width: 35%;
    border-color: black;
    padding: 1% 2%;
    margin: 1% 0;
    border: groove;
    border-radius: 15%;
    font-weight: bolder;
    text-align: center;
    margin:auto;
}