:root {
    --ringOneX: -19.5vw;
    --ringTwoX: -19.5vw;
    --ringThreeX: -19.5vw;
    --ringFourX: -19.5vw;
    --ringFiveX: -19.5vw;
    
    --ringOneY: 93vh;
    --ringTwoY: 89vh;
    --ringThreeY: 85vh;
    --ringFourY: 81vh;
    --ringFiveY: 77vh;
    
    --towerOneY: 77vh;
    --towerTwoY: 97vh;
    --towerThreeY: 97vh;
    
    --towerOneX: -19.5vw;
    --towerTwoX: .5vw;
    --towerThreeX: 20.5vw;
    
    --active-x: initial;
    --active-y: initial;
    --set-active-X: initial;
    --set-active-y: initial;
}

html, body {
   height: 100%;
    width: 100%;
}
.playArea {
    display: flex;
    justify-content: center;
    z-index: auto;
    height: inherit;
    width: 80vw;
    margin: auto;
    background-color: darkgrey;
}

.tower {
    width: 1vw;
    height: 71.5vh;
    top: 10vh;
    //margin: 8vw;
    background-color: black;
    display: inline-block;
    z-index: 1;
    margin-top: 8vw;
    
}

#towerOne, #T1 {
    position: absolute;
    left: 30vw;
}
#towerTwo, #T2 {
    position: absolute;
    left: 50vw;
}
#towerThree, #T3 {
    position: absolute;
    left: 70vw;
}


.rings {
    display: none;
}
#ringOne, #ringTwo, #ringThree, #ringFour, #ringFive, #set {
    margin: auto;
    height: 2vw;
    position: absolute;
    z-index: 2;
    border-radius: 15%;
}

#ringOne {
    transform: translate(var(--ringOneX), var(--ringOneY));
    width: 20vw;
    background-color: cyan;
    
}

#one:checked + #ringOne {
    animation: movePiece 2.0s forwards;
}



.set + #ringFive{
    
    animation: setPiece 1.0s forwards; !important;;
}


@keyframes movePiece {
    50% {transform: translate(var(--active-x), 10vh);}
    100% {transform: translate(0vw, 10vh);}
}

@keyframes setPiece {
    0% {transform: translate(var(--active-x), var(--active-y));}
    50% {transform: translate(var(--set-active-x), var(--active-y));}
    100% {transform: translate(var(--set-active-x), var(--set-active-y));}
}
#ringTwo {
    width: 15vw;
    transform: translate(var(--ringTwoX), var(--ringTwoY));
    background-color: hotpink;
}

#two:checked + #ringTwo {
    animation: movePiece 2.0s forwards;
}
#ringThree {
    width: 10vw;
    transform: translate(var(--ringThreeX), var(--ringThreeY));
    background-color: blueviolet;
}

#three:checked + #ringThree {
    animation: movePiece 2.0s forwards;
}
#ringFour {
    width: 5vw;
    transform: translate(var(--ringFourX), var(--ringFourY));
    background-color: greenyellow;
}

#four:checked + #ringFour {
    animation: movePiece 2.0s forwards;
}
#ringFive {
    width: 2.5%;
    transform: translate(var(--ringFiveX), var(--ringFiveY));
    background-color: yellow;
    
}

#five:checked + #ringFive {
    animation: movePiece 2.0s forwards;
}
